@tailwind base;
@tailwind components;
@tailwind utilities;

/* daisy theme: */
:root .daisy-prose {
    --tw-prose-body: var(--fallback-bc, oklch(var(--bc) / 1));
}
:root {
    font-size: 20px;
}
/* :root {
    color: oklch(var(--bc) / 0.8)
} */