
.Kalam_Zen_maru_gothic {
  font-family: '__Kalam_44673f', '__Zen_Maru_Gothic_bb6857';;
}

.JetBrainsMono_Vivosans {
  font-family: var(--font-jetbrains-mono), var(--font-vivo-sans)
}

.Inter_Vivosans {
  font-family: '__Inter_36bd41', '__Inter_Fallback_36bd41',  '__VivoSans_b9ba1d', '__VivoSans_Fallback_b9ba1d';
}


